.car_component {
    font-size: 18px;
    height: 700;
    width: 100%;
}

.car_component_select{
    width: 200px;
    height: 40px;
    margin: 20px 5px 40px 5px;
}

.car_component_item{
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin: 0 10px;
}
.car_component{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.car_component_input{
    outline: none;
    width: 200px;
    height: 34px;
    margin: 20px 5px 40px 5px;
}

