.crawler_param_component{
    display: flex;
    margin: 40px 0;
    align-items:  flex-start;
    flex-direction: column;
}

.make_item{
    display: flex;
    align-items: flex-end;
}

.crawler_params_item > span{
    display: flex;
}

.crawler_param_item{
    display: flex;
}
.crawler_param_item > p{
    width: 126px;
    font-size: 16px;
    text-align: start;
}

.crawler_param_chip{
    margin: 6px !important;
}
.crawler_param_btn{
    margin: 20px 10px!important;
}

.add_btn_key{
    padding: 6px 24px;
    margin: 0 15px !important;
}
.add_btn{
    padding: 6px 24px !important;
}
.crawler_item{
    display: flex;
    align-items: baseline;
}
.chip{
   width: 393px;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
    width: 185px !important;
    padding-top: 39px !important;
    padding-bottom: 0px !important;
}

.css-2bxn45 {
    padding: 34px 12px 8px !important;
}